* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {

  background-image: url('image1.jpg');
}
.container {
  background-color: #ffffff;
  width: 60%;
  padding: 5%;
  position: absolute;
  transform: translate(-47%, -47%);
  left: 50%;
  top: 50%;
  border-radius: 8px;
  box-shadow: 0 15px 40px rgba(7, 20, 35, 0.2);
}

.header {
  color: #ffffff;
  padding: 20px;
  text-align: center;
  font-size: 20px;
}

.header a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
  font-size: 32px;
}

.option-button {
  margin: 0 10px;
  background-color: #ffffff;
  border: none;
}

.option-button:focus {
  outline: none;
}
.options {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}
button {
  height: 28px;
  width: 28px;
  display: grid;
  place-items: center;
  border-radius: 3px;
  border: none;
  background-color: #ffffff;
  outline: none;
  color: #020929;
}
select {
  padding: 7px;
  border: 1px solid #020929;
  border-radius: 3px;
}
.options label,
.options select {
  font-family: "Poppins", sans-serif;
}
.input-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}
input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 40px;
  height: 28px;
  border: none;
  cursor: pointer;
}
input[type="color"]::-webkit-color-swatch {
  border-radius: 15px;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #020929;
}
input[type="color"]::-moz-color-swatch {
  border-radius: 15px;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #020929;
}
#text-input {
  margin-top: 10px;
  border: 1px solid #dddddd;
  padding: 20px;
  height: 50vh;
}
.active {
  background-color: #e0e9ff;
}
.container {
  width: 80%;
  padding: 5%;
}


